:root {
    --experience-color: #ddc580;
    --health-color: #5d9c22;
    --mana-color: #be2c9f;
    --job-max-level-color: #f09744;
    --accent-color: #4e87f6;
    --background-color:  #111214;
    --midground-color: #141518;
    --foreground-color: #1b1d22;
    --hover-color: #262a38;
    --text-foreground-color: #ecf1f3;
    --text-midground-color: #9ea1a8;
    --text-background-color: #595d68;
    --mid-color: #36383f;
    --contrast-color: #ffffff;
    --shadow-color: #0c0d0f;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-foreground-color);
    background-color: var(--background-color);
    font-family: Comfortaa, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1rem;
    width: 100%;
}

.home-icon {
    width: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 6rem 25%;
}

.search-container {
    display: flex;
    gap: 1rem;
    margin: 35vh 0 4rem 0;
    background-color: var(--foreground-color);
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

[class*="search-element"] {
    background-color: transparent;
    border: none;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: Comfortaa, sans-serif;
    color: var(--text-foreground-color);    
}

.search-element:focus {
    outline: none;
    background-color: transparent;
}

.search-element-dropdown {
    background-color: var(--accent-color);
    border-radius: .5rem .2rem .2rem .5rem;
    width: 14rem;
    color: var(--text-foreground-color);    
}

.search-element-button {
    padding: .5rem;
}

.search-element-button:hover {
    cursor: pointer;
}

.search-button-icon {
    width: 25px;
    height: 25px;
    padding: 2.5px 5px;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-status {
    margin: 5rem 0;
    color: var(--text-midground-color);
}

.character-banner-container {
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    background-color: var(--foreground-color);
    border-radius: 0.5rem;
    height: 7rem;
    width: 100%;
    padding: 1rem;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.character-banner-container:hover {
    background-color: var(--hover-color);
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

.character-banner-avater {
    border-radius: 100%;
}

.character-banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-name {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
}

.server-name {
    margin-right: 0;
    margin-left: auto;
}

.character-container {
    display: flex;
    width: 100%;
    height: 35rem;
    gap: 1rem;
}

.active-job-container {
    display: flex;
    width: 55%;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.character-portrait {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--foreground-color);
    box-shadow: 0 1rem 2rem var(--shadow-color);
}

.active-job-level {
    position: absolute;
    font-weight: bold;
    font-size: 1rem;
    bottom: 0;
    width: 3rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-foreground-color);
}

.active-job-icon {
    position: absolute;
    margin: .5rem;
    right: 0;
    width: 4rem;
    filter: invert(90%) sepia(0%) saturate(7459%) hue-rotate(42deg) brightness(114%) contrast(111%);
}

.secondary-text {
    color: var(--text-midground-color);
    font-size: .75rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: 45%;
    font-size: .9rem;
}

.tab {
    display: flex;
    justify-content: space-between;
}

.tab-button {
    z-index: 1;
    border: none;
    background-color: var(--midground-color);
    color: var(--text-background-color);
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    padding: .75rem 1rem;
    border-radius: .5rem .5rem 0 0;
    transition: background-color 0.5s, color 0.5s;
}

.tab-button:hover {
    background: var(--hover-color) !important;
    color: var(--text-foreground-color) !important;
}

.tab-button-active {
    z-index: 1;
    border: none;
    background-color: var(--foreground-color);
    color: var(--contrast-color);
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    padding: .75rem 1rem;
    border-radius: .5rem .5rem 0 0;
}

.panel-container {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 0 0 .5rem .5rem;
    background-color: var(--foreground-color);
    box-shadow: 0 1rem 2rem var(--shadow-color);
}

.panel {
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.hp-mp-container {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--midground-color);
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.main-attribute-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .5rem;
}

.main-attribute-text-container {
    display: flex;
    justify-content: space-between;
}

.bar {
    background-color: turquoise;
    width: 100%;
    height: .5rem;
    border-radius: .25rem;
}

.gallery {
    width: 100%;
    height: 100%;
    gap: .5rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.divider {
    grid-row: 1 / 11; 
    grid-column: 5 / 6; 
    background-color: var(--mid-color); 
    width: .1rem; 
    margin: 0 auto;
}


.attribute-text {
    color: var(--text-midground-color);
    font-size: .75rem;
}

.profile-element-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-column-start: 3;
    grid-column-end: 6;
}

.profile-icon {
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
}

.job-container {
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: .5rem;
    padding: 2rem;
    width: 100%;
}

.job-icon {
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.job-label {
    font-weight: bold;
    padding: .25rem;
}

.job-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-container {
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.gallery-buttons-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
}

.gallery-button {
    background: none;
    border: none;
}

.page-number {
    width: 2rem;
    text-align: center;
    margin: auto 1rem;
}

.item {
    position: relative;
    border-radius: .5rem;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-color: var(--midground-color);
}

.item .tooltip {
    visibility: hidden;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    text-align: center;
    border-radius: .25rem;
    position: absolute;
    padding: .5rem;
    z-index: 2;
    font-weight: bold;
    font-size: .8rem;
    box-shadow: 0 .25rem .5rem var(--shadow-color);
    width: 10rem;
    bottom: 120%;
    left: 50%;
    margin-left: -5.5rem;
}

.item:hover .tooltip {
    visibility: visible;
  }

.footer-wrapper {
    background-color: var(--midground-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25%;
    bottom: 0;
    height: 10rem;
    background-color: var(--midground-color);
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-text {
    font-size: .75rem;
    color: var(--text-background-color);
}

.social-link {
    color: var(--text-midground-color);
}


