:root {
    --experience-color: #cfb671;
    --health-color: #5d9c22;
    --mana-color: #be2c9f;
    --job-max-level-color: #f09744;
    --accent-color: #585bd5;
    --msq-color: #b63333;
    --completed-color: #30bb65; 
    --error-color: #d63e39;

    --shadow-color: #0c0d0f;
    --background-color:  #111214;
    --midground-color: #141518;
    --foreground-color: #1b1d22;
    --hover-color: #262a38;
    --mid-color: #36383f;
    --text-background-color: #595d68;
    --text-midground-color: #9ea1a8;
    --text-foreground-2-color: #d9dee2;
    --text-foreground-color: #ecf1f3;
    --contrast-color: #ffffff;

    --global-width: 75rem;
}

.secondary-text {
    color: var(--text-midground-color);
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h2 {
    margin: auto 0 auto 3rem;
    font-size: 1.5rem;
}

h3 {
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--text-foreground-color);
}

p {
    margin: 0;
}

/* Disable default link effect */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-foreground-color);
    background-color: var(--background-color);
    font-family: Comfortaa, sans-serif;
    font-size: 1rem;
}

.navbar {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem 22rem;
    width: 100%;
    background-color: var(--midground-color);
    height: 4.5rem;
    box-shadow: 0 0 1rem var(--shadow-color);
}

.navbar__button {
    color: var(--text-midground-color)
}

.navbar__button:hover {
    color: var(--text-foreground-color);
}

.search-bar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: .5rem;
    background-color: var(--foreground-color);
    border-radius: .5rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    height: 2.5rem;
}

.search-bar__item {
    border: none;
    background-color: transparent;
    color: var(--text-foreground-color);
    padding: .5rem 1rem;
    font-size: .9rem;
    font-family: Comfortaa, sans-serif;
}

.search-bar__item:focus {
    outline: none;
}

.search-bar__item--server-list {
    background-color: var(--accent-color);
    border-radius: .5rem .25rem .25rem .5rem;
    height: 100%;
    font-weight: bold;
}

.interactable:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5rem;
    margin: 5rem 0;
    width: var(--global-width);
}

.search__results-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search__status-label {
    margin: 5rem 0;
    color: var(--text-midground-color);
}

.header {
    display: grid;
    grid-template-columns: 6rem  1rem 1fr 5rem;
    grid-template-rows: 1fr 1fr 1fr 1rem 4px;
    grid-template-areas:
        "avatar   .        prefix   server "
        "avatar   .        name     .      "
        "avatar   .        suffix   .      "
        ".        .        .        .      "
        "divider  divider  divider  divider"
    ;
    width: 100%;
    align-items: center;
}

.header--character-banner {
    grid-template-columns: 6rem 1rem 1fr;
    grid-template-rows: 3.5rem .5rem 1fr;
    grid-template-areas: 
        "avatar . name  "
        "avatar . .     "
        "avatar . server"
    ;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--midground-color);
    border-radius: .5rem;
    transition: background-color 0.25s, box-shadow 0.25s;
}

.header--character-banner:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 1rem var(--shadow-color);
}

.header__avatar {
    grid-area: avatar;
    border-radius: 100%;
}

.header__title--prefix {
    grid-area: prefix;
}

.header__title--suffix {
    grid-area: suffix;
}

.header__name {
    grid-area: name;
    margin-top: auto;
}

.header__server {
    grid-area: server;
}

.header__divider {
    grid-area: divider;
}

.character {
    display: flex;
    height: 35rem;
    gap: 1rem;
}

.character__equipment {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 1rem;
}

.character__portrait {
    position: relative;
    min-width: 25rem;
    border-radius: .5rem;
    background-color: var(--foreground-color);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1rem 2rem var(--shadow-color);
}

.character__job-icon {
    position: absolute;
    margin: .5rem;
    right: 0;
    width: 4rem;
    filter: invert(90%) sepia(0%) saturate(7459%) hue-rotate(42deg) brightness(114%) contrast(111%);
}

.character__level {
    position: absolute;
    font-weight: bold;
    bottom: 0;
    width: 4rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    background-color: var(--background-color);
}

.character-panel {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-right: 1rem;
}

.character-panel__tab {
    display: flex;
    gap: .5rem;
}

.button {
    z-index: 1;
    border: none;
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    width: 10rem;
    border-radius: .5rem .5rem 0 0;
    transition: background-color 0.25s, color 0.25s;
    background-color: var(--midground-color);
    color: var(--text-background-color);  
    margin: 0 auto;
}

.button--show-more {
    background-color: var(--foreground-color);
    color: var(--text-midground-color);
    border-radius: .5rem;
}

.button:hover {
    cursor: pointer;
    background: var(--hover-color) !important;
    color: var(--text-foreground-color) !important;
}

.button--active {
    background-color: var(--foreground-color);
    color: var(--text-foreground-color);
}

.panel-container {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 0 0 .5rem .5rem;
    background-color: var(--foreground-color);
    box-shadow: 0 1rem 2rem var(--shadow-color);
    font-size: .9rem;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: .8rem;
}

.panel--attributes {
    gap: 2rem;
}

.main-attribute-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--midground-color);
    padding: 1rem;
}

.main-attribute {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}

.main-attribute__text {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 100%;
    height: .5rem;
    border-radius: .25rem;
}

.bar--health {
    background-color: var(--health-color);
}

.bar--mana {
    background-color: var(--mana-color);
}

.gallery {
    display: grid;
    height: 100%;
    gap: .5rem;
}

.gallery--attributes {
    grid-template-columns: 1fr 3rem 1fr 3rem;
    gap: .5rem 1rem;
    padding: 0 1rem;
}

.gallery--profile {
    margin: 0 1rem;
    align-items: center;
    grid-template-columns: 9rem 1fr 2rem;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.gallery--mounts-minions {
    grid-template-columns: repeat(7, 3rem); 
    grid-template-rows: repeat(7, 3rem);
    margin: 0 auto;
}

.profile__character-data {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.section-header {
    display: flex; 
    width: 100%; 
    align-items: center; 
    gap: 2rem;
}

.divider {
    border-radius: .1rem; 
    background-color: var(--foreground-color);
}

.divider--vertical {
    width: 2px;
    height: 100%;
    background-color: var(--midground-color);
}

.divider--horizontal {
    width: 100%;
    height: 4px; 
    margin: auto 0;
}

.divider--panel {
    height: .1rem; 
    background-color: var(--mid-color); 
}

.profile__icon {
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2rem;
}

.profile__icon--free-company {
    position: absolute;
}

.gallery-navigation {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.gallery-navigation__button {
    background: none;
    border: none;
}

.gallery-navigation__button img {
    width: 1.5rem;
}

.gallery-navigation__text {
    text-align: center;
    width: 2rem;
    margin: auto 1rem;
}

.item {
    position: relative;
    border-radius: .5rem;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-color: var(--midground-color);
}

.item .tooltip {
    visibility: hidden;
    background-color: var(--accent-color);
    text-align: center;
    border-radius: .25rem;
    position: absolute;
    padding: .5rem;
    z-index: 2;
    font-weight: bold;
    font-size: .8rem;
    box-shadow: 0 .25rem .5rem var(--shadow-color);
    width: 10rem;
    bottom: 120%;
    left: 50%;
    margin-left: -5.5rem;
}

.item:hover .tooltip {
    visibility: visible;
}


.jobs {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    height: 45rem;
    padding: 1rem;
    filter: blur(5px);
}

.jobs__item {
    display: grid;
    grid-template-columns: 2rem .5rem 2rem .5rem 7rem;
    grid-template-rows: 1rem 1rem;
    grid-template-areas: 
        "icon . level . name"
        "icon . level . bar "
    ;
    width: 12rem;
    align-items: center;
}

.jobs__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jobs__icon {
    width: 2rem;
    height: 2rem;
    grid-area: icon;
}

.jobs__name {
    grid-area: name;
    font-size: .8rem;
}

.jobs__level {
    grid-area: level;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
}

.jobs__bar {
    grid-area: bar;
    overflow: hidden;
    width: 100%;
    height: .5rem;
    background-color: var(--foreground-color);
    border-radius: .25rem;
}

.jobs__bar--active {
    height: 100%;
    width: 0;
    background: var(--experience-color);
}

.quests {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    gap: 3rem;
    height: 63rem;
    filter: blur(5px);
}

.quests-column {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    width: 33%;
}

.quests__header {
    height: 2rem;
    display: flex;
}

.quests__logo {
    max-width: 2rem;
    margin-left: .5rem; 
}

.quests__completion-label {
    color: var(--completed-color);
    margin-left: auto;
}

.quests__content {
    display: flex;
}

.quests__checkmark {
    max-height: .7rem;
    margin: 0 4rem 0 1rem;
}

.msq__progress-bar {
    display: flex;
    position: relative;
    margin: 0 1rem;
    height: 100%; 
    width: 1rem; 
    background-color: var(--foreground-color); 
    border-radius: .5rem; 
    box-shadow: 0 0 1rem var(--shadow-color);
}

.progress-bar__bar {
    position: absolute;   
    width: 100%;
    background-color: var(--completed-color);
    border-radius: .5rem; 
}

.progress-bar__point {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: var(--completed-color);
    left: -.5rem;
    box-shadow: 0 0 1rem var(--shadow-color);
}

.list {
    display: flex; 
    flex-direction: column; 
    list-style: none;
    padding-left: 0;
    gap: 1rem;
    color: var(--text-midground-color);
    margin-left: 6rem;
    font-size: .8rem; 
}

.list--msq {
    margin: 0 0 0 3rem;
}

.quests-text {
    color: var(--text-foreground-color);
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0;
}

.quests-text--complete {
    color: var(--completed-color);
    margin-left: 0;
    filter: none;
}

.quests-text--incomplete {
    margin-left: 6rem;
}

.quests-text--hidden {
    filter: blur(5px);
}

.footer-wrapper {
    background-color: var(--midground-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 10rem;
    width: var(--global-width);
    margin: 0 auto;
    background-color: var(--midground-color);
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-text {
    font-size: .75rem;
    color: var(--text-background-color);
    user-select: none;
}

.social-link {
    color: var(--text-midground-color);
}




