:root {
    --experience-color: #f0d044;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #4d4f52;
    font-family: Comfortaa, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 1rem;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 5rem 25%;
}

.search-container {
    display: flex;
    gap: 1rem;
    margin: 35vh 0 5rem 0;
    width: 100%;
}

.search-element {
    background-color: #f1eeee;
    border: none;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: Comfortaa, sans-serif;
    color: #4d4f52;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.search-status {
    margin: 5rem 0;
}

.character-banner-container {
    display: flex;
    gap: 1rem;
    background-color: #eeeff1;
    border-radius: 0.5rem;
    padding: 10px;
    height: 5rem;
}

.character-banner-avater {
    border-radius: 100%;
}



.character-banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-name {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
}

.server-name {
    margin-right: 0;
    margin-left: auto;
}

.job-container {
    display: flex;
}

.current-job-container {
    position: relative;
    width: 50%;
}

.character-portrait {
    position: absolute;
    border-radius: .5rem;
    max-width: 100%;
    z-index: -1;
}

.level-bar {
    overflow: hidden;
    height: .75rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}

.level-experience {
    height: 100%;
    background-color: var(--experience-color);
}

.active-job-icon {
    height: 60px;
    width: auto;
    filter: invert(90%) sepia(0%) saturate(7459%) hue-rotate(42deg) brightness(114%) contrast(111%);
}

.job-information {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.job-text {
    color: white;
}

.job-stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0 1rem;
    width: 50%;
    height: 40rem;
}

.job-icon {
    width: 3rem;
}


